.div-principal-reinscripcion{
    width:80%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #5C5B5F;
  }
  #verde{
    background-color:#2da19a;
    color:#fff;
  }
  #morado{
    background-color: #6d346c;
    color:#fff;
  }

  .img-ofertaAcademica-portada{
    width:100%;
  }
  
  .div-text{
    padding: 3%;
    width:100%;
    height: 100%;
    font-family: "Gotham";
    text-align: justify;
    color:#fff;
    border-color: #6D356C;
    font-size: 20px;
  }



  a { color: #2da19a; } 
  a:hover { color: #5C5B5F; }

  .img-ItemCarrera{
    max-width:300px;
    max-height:300px;
    margin:3px;
    border:solid 2px #6D356C;
  }
  
 h1{
  font-family: "Gotham";
  font-size: 4rem;
  text-align: center;
  color:#fff;
 }

 
  @media(min-width:2500px) and (max-width:5000px){
    .div-carreras{
      padding: 3%;
      width:100%;
      height: 100%;
    }
  
    .img-ItemCarrera{
      max-width:500px;
      max-height:500px;
      margin:3px;
      border:solid 2px #6D356C;
    }
  
  }
  
  
  /*RESOLUCION PARA MACKBOOK PRO*/
  @media(min-width:1600px) and (max-width: 2400px){
    .div-carreras{
      padding: 3%;
      width:100%;
      height: 100%;
    }
  
    .img-ItemCarrera{
      max-width:350px;
      max-height:350px;
      margin:3px;
      border:solid 2px #6D356C;
    }
  }
  
  
  /*RESOLUCION PARA CELULARES*/
  @media(min-width:100px) and (max-width: 420px){
    .div-principal-reinscripcion{
      width:100%;
      margin-left: 10%;
      margin-right: 10%;
      background-color: #fff;
    }
    #verde{
      background-color:#2da19a;
      color:#fff;
    }
    #morado{
      background-color: #6d346c;
      color:#fff;
    }
  
    .img-ofertaAcademica-portada{
      width:100%;
    }
    
    .div-text{
      padding: 3%;
      width:100%;
      height: 100%;
      font-family: "Gotham";
      text-align: center;
      color:#fff;
      border-color: #6D356C;
      font-size: 8px;
    }
 
    a { color: #2da19a; } 
    a:hover { color: #5C5B5F; }
  
    .img-ItemCarrera{
      max-width:150px;
      max-height:150px;
      margin:3px;
      border:solid 2px #6D356C;
    }
    
    h1{
      font-family: "Gotham";
      font-size: 1rem;
      text-align: center;
      color:#fff;
     };
  
  }